.Footer {
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: #fff;
    }
    li {
        list-style: none;
    }
}
